<a href="https://colab.research.google.com/github/mdrashedulhasan1/first_three_class/blob/main/first_three_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# x = 5
# y = 7
# result = x+y  
# print(result)

# first_name = "Rashedul"
# second_name = " Hasan"
# full_name = first_name+second_name
# print(full_name)

# name = 'rashedul'
# print(name[0])
# print(name[1])
# print(name[2])
# print(name[3])
# print(name[4])
# print(name[5])
# print(name[6])

IndentationError: ignored

In [ ]:
num1 = 10
num2 = 12.50
num3 = 'tapu'
num4 = True
num5 = False
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(type(num5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
result = x+y+z
print("This is our final result:",result)

Enter first number: 10
Enter second number: 20
Enter third number: 30
This is our final result: 60

In [ ]:
num1 = 20
num2 = 30
print(num1,num2)

20 30

TypeError: ignored

In [ ]:
#  x = True
#  type(x)

# y = False
# type(y)

In [ ]:
# x = 5
# y = 5
# print(x == y)

# x = 10
# y = 5
# print(x!=y)

# x = 40
# y = 20
# print(x>y)

# x = 40
# y = 50
# print(x<y)

# x = 40
# y = 40
# print(x>=y)

# x = 50
# y = 50
# print(x<=y)

True

In [ ]:
x = 10
y = 20
if x>y:
  print(x,"is greater then",y)
else:
  print(y,"is greater then",x)

20 is greater then 10

In [ ]:
x = 5
if x==5:
  print(x,"Found")

5 Found

In [ ]:
x = int(input("Enter a number: "))
if x==0:
  print("Zero")
elif x%2!=0:
  print("Odd Number")
else:
  print("Even Number")

Enter a number: 0
Zero

In [ ]:
marks = int(input("Enter your marks: "))
if marks>=80:
  print("A+")
elif marks>=70:
  print("A")
elif marks>=60:
  print("A-")
elif marks>=50:
  print("B")
elif marks>=40:
  print("C")
elif marks>=33:
  print("D")
else:
  print("Fail")

Enter your marks: 89
A+

In [ ]:
x = int(input())
y = int(input())
z = int(input())
if x<y:
  if x<z:
    print(x,"is the small number")
  else:
    print(z,"is the small number")
else:
  if y<z:
    print(y,"is the small number")
  else:
    print(z,"is the small number")

5
10
15
5 is the small number